# Converting Addresses Function

In [1]:
import pandas as pd
import numpy as np
from pygeocoder import Geocoder

In [2]:
#used to create new csv with lat and lon columns

"""
df_temp = pd.read_csv('Datasets/pd_collisions_datasd_v1.csv')
df_temp.shape
df_temp['lat'] = [np.nan for x in range(28595)]
df_temp['lon'] = [np.nan for x in range(28595)]
df_temp.to_csv('collisions_with_coords.csv')
"""

"\ndf_temp = pd.read_csv('Datasets/pd_collisions_datasd_v1.csv')\ndf_temp.shape\ndf_temp['lat'] = [np.nan for x in range(28595)]\ndf_temp['lon'] = [np.nan for x in range(28595)]\ndf_temp.to_csv('collisions_with_coords.csv')\n"

In [3]:
df = pd.read_csv('collisions_with_coords.csv')
addresses = df.apply(lambda x : ' '.join(
    str(i).strip() for i in [x.address_number_primary, x.address_pd_primary, x.address_road_primary, x.address_sfx_primary] 
) + ', SAN DIEGO', axis = 1)

In [24]:
MAPS_API_KEY = 'API KEY HERE'
coder = Geocoder(MAPS_API_KEY)

CRASHES_START = 500
CRASHES_END = 1000

locations = addresses[CRASHES_START:CRASHES_END].apply(lambda address : coder.geocode(address).coordinates)

for x in range(CRASHES_START, CRASHES_END):
    df.at[x,'lat'] = locations[x][0]
    df.at[x,'lon'] = locations[x][1]

In [4]:
#Show which indecies have no lat-lon pairs yet
df['lat'].isnull()[df['lat'].isnull()]

1000     True
1001     True
1002     True
1003     True
1004     True
1005     True
1006     True
1007     True
1008     True
1009     True
1010     True
1011     True
1012     True
1013     True
1014     True
1015     True
1016     True
1017     True
1018     True
1019     True
1020     True
1021     True
1022     True
1023     True
1024     True
1025     True
1026     True
1027     True
1028     True
1029     True
         ...
28565    True
28566    True
28567    True
28568    True
28569    True
28570    True
28571    True
28572    True
28573    True
28574    True
28575    True
28576    True
28577    True
28578    True
28579    True
28580    True
28581    True
28582    True
28583    True
28584    True
28585    True
28586    True
28587    True
28588    True
28589    True
28590    True
28591    True
28592    True
28593    True
28594    True
Name: lat, Length: 27595, dtype: bool

In [36]:
#DONT FORGET TO SAVE TO CSV FILE

df.to_csv('collisions_with_coords.csv')

In [35]:
#converting the converted addresses to tuple and adding them to a new dataframe with 
# their respective addresses

df_locations = df
df_locations['Address']=addresses

df_locations['Coordinates'] = [(0,0) for x in range (len(addresses))]

for x in range(len(addresses)):
    df_locations.at[x, 'Coordinates'] = df.at[x, 'lat'], df.at[x, 'lon']

In [33]:

df_locations = df_locations.loc[:999,['Address', 'Coordinates']]
df_locations

,Address,Coordinates
0,"5500 VALERIO TRAIL, SAN DIEGO","(32.962449400000004, -117.20147820000001)"
1,"6400 CRAWFORD STREET, SAN DIEGO","(32.7898003, -117.0938746)"
2,"8300 CAM DEL ORO , SAN DIEGO","(32.8568988, -117.2568618)"
3,"8100 ROYAL GORGE DRIVE, SAN DIEGO","(32.8147757, -117.05122920000001)"
4,"1000 11TH AVENUE, SAN DIEGO","(32.7157761, -117.15471770000002)"
5,"1000 A STREET, SAN DIEGO","(32.718876300000005, -117.15566299999999)"
6,"2600 RAMFOS PLACE, SAN DIEGO","(32.679995299999995, -117.04250259999998)"
7,"3900 DE LA VALLE , SAN DIEGO","(32.9832079, -117.22675590000001)"
8,"9100 SYDNEY COURT, SAN DIEGO","(32.8729365, -117.2021869)"
9,"1600 HORNBLEND STREET, SAN DIEGO","(32.798875, -117.240545)"
10,"900 EMERALD STREET, SAN DIEGO","(32.7988409, -117.25420449999999)"
11,"0 IMPERIAL AVENUE, SAN DIEGO","(32.7041969, -117.09828290000002)"
12,"2900 LAUREL STREET, SAN DIEGO","(32.731826, -117.1315594)"
13,"10000 BLACK MTN ROAD, SAN DIEGO","(32.9011578, -117.1239432)"
14,"5800 UNIVERSITY AVENUE, SAN DIEGO","(32.7492955, -117.0729412)"
15,"6900 MIRAMAR ROAD, SAN DIEGO","(32.8786463, -117.16801550000001)"
16,"2500 INGRAHAM STREET, SAN DIEGO","(32.765978999999994, -117.23332009999999)"
17,"2400 W MISSION BAY DRIVE, SAN DIEGO","(32.7596683, -117.2272997)"
18,"2800 EL CAJON BOULEVARD, SAN DIEGO","(32.7557356, -117.1337374)"
19,"3200 ASHFORD STREET, SAN DIEGO","(32.8019562, -117.1594273)"
20,"1100 GARNET AVENUE, SAN DIEGO","(32.7977588, -117.25000490000001)"
21,"4300 EL CAJON BOULEVARD, SAN DIEGO","(32.7554072, -117.10119650000001)"
22,"2800 IMPERIAL AVENUE, SAN DIEGO","(32.7066021, -117.1338419)"
23,"5100 MISSION CENTER ROAD, SAN DIEGO","(32.7682106, -117.15398859999999)"
24,"10400 SAN DIEGO MISSION ROAD, SAN DIEGO","(32.7857348, -117.11113119999999)"
25,"3700 SPORTS ARENA BOULEVARD, SAN DIEGO","(32.7549845, -117.2148017)"
26,"100 WASHINGTON STREET, SAN DIEGO","(32.7499659, -117.1639106)"
27,"5800 EL CAJON BOULEVARD, SAN DIEGO","(32.758807, -117.07263229999998)"
28,"700 08TH AVENUE, SAN DIEGO","(32.715738, -117.1610838)"
29,"3400 COLLEGE AVENUE, SAN DIEGO","(32.7422586, -117.0516876)"
...,...,...
970,"11200 TIERRASANTA BOULEVARD, SAN DIEGO","(32.816086, -117.0873962)"
971,"2200 SUNSET CLIFFS BOULEVARD, SAN DIEGO","(32.749905, -117.24316999999999)"
972,"400 HOTEL CIRCLE, SAN DIEGO","(32.759391, -117.1770078)"
973,"11900 RANCHO BERNARDO ROAD, SAN DIEGO","(33.0233108, -117.0742392)"
974,"2400 RANCHO DRIVE, SAN DIEGO","(32.6756096, -117.0633064)"
975,"7000 CLAIREMONT MESA BOULEVARD, SAN DIEGO","(32.8330384, -117.1642917)"
976,"7600 MESA COLLEGE DRIVE, SAN DIEGO","(32.8008424, -117.157955)"
977,"2500 FAIRMOUNT AVENUE, SAN DIEGO","(32.731334999999994, -117.1015123)"
978,"4000 LOCKRIDGE STREET, SAN DIEGO","(32.710394, -117.10859599999999)"
979,"4200 37TH STREET, SAN DIEGO","(32.753296899999995, -117.1136744)"
980,"7600 FRIARS ROAD, SAN DIEGO","(32.772819899999995, -117.157371)"
981,"3100 MAIN STREET, SAN DIEGO","(32.6928306, -117.1272633)"
982,"4100 30TH STREET, SAN DIEGO","(32.752214, -117.130173)"
983,"3900 BOSTON AVENUE, SAN DIEGO","(32.693956400000005, -117.1102882)"
984,"6800 GOLFCREST DRIVE, SAN DIEGO","(32.8013237, -117.0398082)"
985,"3200 EL CAJON BOULEVARD, SAN DIEGO","(32.7554146, -117.12577730000001)"
986,"300 E SAN YSIDRO BOULEVARD, SAN DIEGO","(32.551590600000004, -117.0398074)"
987,"5800 CHANDLER DRIVE, SAN DIEGO","(32.8264986, -117.1735916)"
988,"3800 32ND STREET, SAN DIEGO","(32.7474153, -117.12501499999999)"
989,"4700 IROQUOIS AVENUE, SAN DIEGO","(32.797102100000004, -117.19778229999999)"
990,"7700 MESA COLLEGE DRIVE, SAN DIEGO","(32.801955, -117.1539807)"
991,"600 PEARL STREET, SAN DIEGO","(32.839756300000005, -117.2771182)"
992,"7700 PARADISE VALLEY ROAD, SAN DIEGO","(32.69577, -117.0293885)"
993,"7100 LA JOLLA BOULEVARD, SAN DIEGO","(32.833925, -117.27727549999999)"
994,"4400 MISSION BOULEVARD, SAN DIEGO","(32.794787899999996, -117.2550507)"
995,"0 ACE STREET, SAN DIEGO","(32.7434359, -117.07882169999999)"
996,"4800 60TH STREET, SAN DIEGO","(32.7643839, -117.069318)"
997,"4100 BONILLO DRIVE, SAN DIEGO","(32.753133399999996, -117.059542)"
998,"4400 EASTGATE MALL, SAN DIEGO","(32.8783087, -117.2113216)"
999,"9800 GENESEE AVENUE, SAN DIEGO","(32.8808306, -117.2182131)"

In [36]:
#saving the rows with converted addresses to the locations csv

df_locations.to_csv('Datasets/locations.csv')